* {margin: 0;padding: 0;box-sizing: border-box;border-radius: 0;}
html {font-size: 14px}

:root {
    --var-bg-color: #fff;
    --var-bg2-color: #fefefe;
    --var-border-color: #f0f0f0;
    --var-border2-color: #e0e0e0;
    --var-layout-header-height: 60px
}
svg.iconify{font-size: 1.2rem;}
svg.iconify.icon-14{font-size: 1.4rem;}
svg.iconify.icon-15 {font-size: 1.5rem;}
svg.iconify.icon-16 {font-size: 1.6rem;}
svg.iconify.icon-17 {font-size: 1.7rem;}
svg.iconify.icon-18 {font-size: 1.8rem;}
button.ant-btn svg.iconify{position: relative;top:0.2rem;margin-right:0.1rem;}
body{padding: 0;margin: 0;width: 100vw;height: 100vh;overflow: hidden;}
#app{overflow: hidden;width: 100vw;height: 100vh;}

/****### Login.vue #### ****************/
.login-wrap {
    background: url(./loginbg.png) left top no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.login-wrap .login {
    width: 25vw;
    min-width: 600px;
    background: var(--var-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 7rem;
}

.login-wrap .login-header {
    width: 100%;
    overflow: hidden;
}

.login-wrap .login-header h2 {
    width: 100%;
    text-align: center;
    position: relative;
    font-weight: normal;
    overflow: hidden;
}

.login-wrap .login-header h4 {
    width: 100%;
    text-align: center;
    position: relative;
    font-weight: normal;
    overflow: hidden;
    font-size: 1.2rem;
}

.login-wrap .login-form {
    width: 55%;
    padding-top: 3.5rem;
    font-size: 15px;
}

.login-wrap .login-form .ant-form-item {
    margin-bottom: 1.8rem;
}

.login-wrap .login-form .ant-form-item input {
    background-color: #fff;
    line-height: 180%;
}

.login-wrap .login-form .ant-form-item button {
    line-height: 180%;
}

.login-wrap .login-form .ant-form-item.login-form-captcha .ant-input-group-addon {
    background-color: #fff;
    padding: 0 1rem;
    overflow: hidden;
}

@media only screen and (max-width:767px) {
    .login-wrap .login {
        width: 100vw;
    }

    .login-wrap .login-form {
        width: 80%;
        padding-top: 5rem;
    }
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .login-wrap .login {
        width: 100vw;
    }

    .login-wrap .login-form {
        width: 50%;
        padding-top: 5rem;
    }
}

/********** App-Layout********************/
.ant-layout.layout-wrap {
    background-color: var(--var-bg-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.ant-layout-header.layout-header {
    background-color: var(--var-bg-color);
    border-bottom: 1px solid var(--var-border-color);
    height: var(--var-layout-header-height);
    line-height: var(--var-layout-header-height);
    overflow: hidden;
    padding: 0 1rem;
    border-radius: none;
}

.ant-layout-header.layout-header div.layout-header-logo {
    height: var(--var-layout-header-height);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.ant-layout.layout-body {
    width: 100vw;
    height: calc(100vh - var(--var-layout-header-height));
    background-color: var(--var-bg-color);
    overflow: hidden;
}

.ant-layout-sider.layout-body-sider {
    background-color: var(--var-bg-color);
    border-radius: 0;
    border-right: 1px solid var(--var-border-color);
}
.ant-layout-sider.layout-body-sider div.layout-body-sider-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;;
}
.ant-layout-sider.layout-body-sider div.layout-body-sider-search div.ant-form-item{
    margin-right:0!important;
}

.ant-layout-sider.layout-body-sider .ant-layout-sider-zero-width-trigger {
    opacity: 0;
}

.ant-layout-sider.layout-body-sider .c-scrollbar {
    height: calc(100vh - var(--var-layout-header-height));
}

.ant-layout-sider.layout-body-sider .ant-menu {
    border: none;
}
.ant-layout-sider.layout-body-sider .ant-menu.ant-menu-inline-collapsed div.c-scrollbar {
    width: auto;overflow-x: hidden;
}

.ant-layout-sider.layout-body-sider .ant-menu.ant-menu-inline-collapsed i.ant-menu-submenu-arrow{
    display: none;
}

@media only screen and (max-width:1199px) {
    .ant-layout-sider.layout-body-sider {
        position: fixed;
        z-index: 999;
        height: calc(100vh - var(--var-layout-header-height));
    }
}

.ant-layout.layout-body-main {
    position: relative;
    width: auto;
    height: calc(100vh - var(--var-layout-header-height));
}

.layout-body-main-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    background-color: rgba(0, 0, 0, 0.5)
}

.ant-layout.layout-body-main .c-scrollbar {
    height: calc(100vh - var(--var-layout-header-height) - var(--var-layout-header-height));
    padding: 0.5rem;
}

.ant-layout.layout-body-main .ant-card.layout-body-main-header {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--var-border-color);
    padding: 0;

}

.ant-layout.layout-body-main .ant-card.layout-body-main-header .ant-card-body {
    padding: 0.5rem 0 0.5rem 1.8rem;
}

.ant-layout.layout-body-main .ant-card.layout-body-main-header .ant-card-body .ant-breadcrumb ol {
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}

.ant-layout.layout-body-main .ant-card.layout-body-main-header .ant-card-body .ant-breadcrumb b {
    font-size: 22px;
    font-weight: bold;
}


.card-filter-block {
    padding-bottom: 1rem;
}

.card-filter-block form.ant-form-inline div.ant-form-item {
    margin-bottom: 1rem;
}

.card-filter-block form.ant-form-inline div.ant-form-item .ant-select {
    min-width: 8rem
}

@media only screen and (max-width:767px) {
    .card-filter-block form.ant-form-inline div.ant-form-item {
        width: 100%;
    }

    .card-filter-block form.ant-form-inline div.ant-form-item div.ant-form-row {
        flex-wrap: nowrap;
    }

    .card-filter-block form.ant-form-inline div.ant-form-item div.ant-form-row div.ant-form-item-label {
        width: auto;
        flex: 0 0 auto;
        margin-right: 1rem;
    }

    .card-filter-block form.ant-form-inline div.ant-form-item div.ant-form-row div.ant-form-item-control {
        width: auto;
        flex: 0 0 auto;
    }
    div.vcard-wrap div.ant-card-body{
        padding:1rem 0.8rem;
    }
}